body {
    margin: 0;
    font-family: "Ubuntu", serif;
    font-weight: 300;
    color: #888;

}

h1,h2,h3,.h1,.h2,.h3{
    font-weight: 300;
    color: #333;

}

h1, .h1 {
    font-size: 55px;
    margin: 30 0px;
}

h2,.h2 {
    font-size: 35px;
    margin: 20 0px;
}

h3,.h3 {
    font-size: 26px;
    margin: 16 0px;
}

strong, .strong{
    font-weight: 400;
}

em, .em{
    font-weight: 300;
    font-style: italic;
}

p{
    font-weight: 300;
    margin: 0 16px;

}
.content-text ul {
    list-style-type: disc;
    padding-left: 50px;
}
.container {
    max-width: 1170px;
    padding: 30px;
    margin: 0 auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col{
    margin: 15px;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}