img {
    max-width: 100%;
    height: auto;
}

.menuItem {
    margin: 15px;
    background: rgb(89, 77, 255);
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    
}

.menuItem_image{
    margin-bottom: 20px;
}

.menuItem_link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 1px;
    position: relative;
    top: -5px;
}

.menuItem_link::before, .menuItem_link::after{
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0;
    transition: opacity 0.25s, transform 0.25s;
}

.menuItem_link::before {
    border-right: 20px solid rgb(255, 0, 0);
    transform: translateX(-45px);
}

.menuItem_link::after {
    border-left: 20px solid rgb(255, 0, 0);
    transform: translateX(45px);
}

.menuItem:hover .menuItem_link::before, .menuItem:hover .menuItem_link::after {
    opacity: 1;
}
.menuItem_link:hover::after {
    transform: translateX(15px) rotate(180deg);
}
.menuItem_link:hover::before {
    transform: translateX(-15px) rotate(180deg);
}